{% verbatim %}
    <div class="col-md-4 pull-left" style="margin-right: 0; padding: 0;">
        <div class="panel panel-default" style="margin-top: 1%; padding-left: 2%; width: 91%; font-size: 10pt;">
            <h3 style="margin-left: 2%">{{ recipe.article_name }}</h3>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" ng-bind-html="recipe.introduction">
                        {{ recipe.introduction }}
                    </div>
                </div><br>
                <a class="btn btn-primary pull-right more" id="talk_{{recipe.order_number}}" href="#/blog/article/{{recipe.article_name}}" type="button">Read</a>
            </div>
        </div>
    </div>
{% endverbatim %}