{% verbatim %}
<div class="row" style="margin-left: 4%; margin-top: 2%">
    <div class="col-md-4 pull-left" style="margin-right: 0; padding: 0;" ng-repeat="talk in row | filter:searchQuery">
        <div class="panel panel-default" style="margin-top: 1%; padding-left: 2%; width: 91%; font-size: 10pt;">
            <h3 style="margin-left: 2%">{{ talk.article_name }}</h3>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" ng-bind-html="talk.introduction">
                        {{ talk.introduction }}
                    </div>
                </div><br>
                <a class="btn btn-primary pull-right more" id="talk_{{talk.order_number}}" href="#/blog/article/{{talk.article_name}}" type="button">Read</a>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}