{% verbatim %}
<div class="row">
    <div class="panel panel-default" style="margin-left:3%; width: 94%;">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8 pull-left" >
                    <h3>{{ project.project_name }}</h3>
                </div>
                <div class="col-md-4 pull-right">
                    <div class="btn btn-default pull-right" style="margin-left: 10px; font-weight: bold" ng-if="project.ended === null">Automation in progress</div>
                    <div class="btn btn-default pull-right" style="margin-left: 10px; font-weight: bold" ng-if="project.ended !== null">Automated</div>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3" >Description: <span class="glyphicon glyphicon-menu-right projectDescrArrow"></span>

                </div>
                <div class="col-md-9 projectContent">
                    {{ project.description }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 projectContent">
                </div>
                <div class="col-md-9">
                    <a href='http://{{ project.url }}'>{{ project.url }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 projectContent" >
                    Team: <span class="glyphicon glyphicon-menu-right projectDescrArrow"></span>
                    <br>
                </div>
                <div class="col-md-9">
                    {{ project.team }}
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 projectContent" ></div>
                <div class="col-md-9">
                    <b>Role:</b> {{ project.role }}
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 projectContent" >
                    Environment: <span class="glyphicon glyphicon-menu-right projectDescrArrow"></span>
                    <br>
                </div>
                <div class="col-md-9">
                    {{ project.tools_used }}
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 projectContent" >
                    Summary: <span class="glyphicon glyphicon-menu-right projectDescrArrow"></span>
                    <br>
                </div>
                <div class="col-md-9">
                    {{ project.conclusion }}
                    <br>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endverbatim %}