<footer class="row footer pull-left" id="footer">
    <div class="col-md-4">
        Nikita Gavrish
    </div>
    <div class="col-md-4">
        <div class="fb-like" data-href="http://qalalab.ru/#/blog" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <div class="col-md-1">
        Contacts:
    </div>
    <div class="col-md-3">
        Facebook: <a href="http://facebook.com/ngavris">http://facebook.com/ngavris</a><br>
        Google: nikikikita@gmail.com<br>
        Skype: shirvag<br>
    </div>
</footer>