{% verbatim %}
<!-- Static navbar -->
<!-- Common high-level navigation panel -->
<nav id="common-navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse" style="float: left">
            <ul class="nav navbar-nav top-navigation">
                <li controller="projects"><a href="#/projects">Projects</a></li>
                <li controller="whatis"><a href="#/whatis">What is automation</a></li>
                <li controller="blog"><a href="#/blog">Blog</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right top-navigation" style="margin-right: 1%">
                <li><a href="/#/" class="whatisheader" style="color: brown; font-size: 200%">Qalalab</a><span style="color: brown">automation lab</span></li>
            </ul>
        </div>
        <button type="button" class="navbar-toggle navbar-right collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
<!-- End of navigation panel -->

{% endverbatim %}