{% verbatim %}

<main id="talk" class="projects introcontent talksWrapper">
    <h1>{{ talk.article_name }}</h1>

    <div class="row talksWrapper" style="margin-left: 0%; margin-top: 2%">
        <div class="col-md-12 pull-left" style="margin-right: 0; padding: 0;">
            <div class="panel panel-default" style="margin-top: 1%; width: 98%; font-size: 10pt;">
                <div class="panel-body">
                    <div class="row" id="talk_introduction">
                        <div class="col-md-12" ng-bind-html="talk.introduction">
                            {{ talk.introduction }}
                        </div>
                    </div>
                    <div class="row" id="talk_video" ng-if="url">
                        <div style="height:400px;"><iframe style="overflow:hidden;height:100%;width:100%" width="100%" height="100%" src="{{ url }}" frameborder="0" allowfullscreen></iframe></div>
                    </div>

                    <hr>
                    <div class="row" id="talk_content">
                        <div class="col-md-1"></div>
                        <div class="col-md-12" ng-bind-html="talk.content">
                            {{ talk.content }}
                        </div>
                    </div><hr>
                    <div class="row" id="talk_conclusion">
                        <div class="col-md-12" ng-bind-html="talk.conclusion">
                            {{ talk.conclusion }}
                        </div>
                    </div>
                    <div id="fb-comments-container">
                        <div class="fb-comments" data-href="{{ location }}" data-numposts="5" data-width="700px"></div>
                    </div>
                    <a class="btn btn-default pull-right backToTalks nextTalk" ng-if="talk.order_number + 1 <= talks_amount && talk.next_name " id="talk_{{talk.order_number}}" href="#/blog/article/{{ talk.next_name }}" type="button">
                        <span class="glyphicon glyphicon-triangle-right"></span>Next</a>
                    <a class="btn btn-default pull-right backToTalks prevTalk" ng-if="talk.order_number - 1 > 0" id="talk_{{talk.order_number}}" href="#/blog/article/{{ talk.prev_name }}" type="button">
                        <span class="glyphicon glyphicon-triangle-left"></span>Prev</a>
                    <a class="btn btn-default pull-right backToTalks" id="talk_{{talk.order_number}}" href="#/blog" type="button">
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        Contents</a>

                </div>
            </div>
        </div>
    </div>


</main>

{% endverbatim %}