{% verbatim %}

<main id="articles" class="projects introcontent">

    <div class="panel summary">
        <!-- Search button -->
        <div class="row menu">
            <div class="col-lg-2 cuts active showtype">
                <span class="glyphicon glyphicon-th cuts" ng-click="changeListView($event)"></span>
            </div>
            <div class="col-lg-2 list showtype">
                <span class="glyphicon glyphicon-th-list list" ng-click="changeListView($event)"></span>
            </div>
            <div class="col-lg-7">
                <div class="input-group">
                    <input type="search" ng-model="searchText" placeholder="Search..." class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
                      </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
        <!-- /Search button -->
        <div class="row" style="position: relative;">
            <div class="col-md-11 talksWrapper">
                <!-- Content Bars-->
                <div class="row">
                    <div class="talkBars">
                        <div class="row" ng-repeat="category in cookbook_categories_list">
                            <hr>
                            <h2 style="margin-left: 7%;" class="category_name category_{{ category.order_number }}">
                                {{ category.cat_name }}</h2>
                            <cookbook-bar ng-repeat="row in category.talk_rows | filter"
                                          class="category_wrapper category_{{ category.order_number }}"
                                          search-query="searchText" row="row"></cookbook-bar>
                        </div>
                    </div>
                    <table class="table table-striped talkLinks" style="margin-top: 2%"
                           ng-repeat="category in cookbook_categories_list">
                        <thead>
                            <th style="padding-left: 5%; width: 100%;" colspan=3>{{ category.cat_name }}</th>
                        </thead>
                        <tr class="row" ng-repeat="article in category.talks | filter:searchText">
                            <td style="width: 5%; margin-left: 5%">
                                {{ article.order_number }}
                            </td>
                            <td style="width: 90%;">
                                <a href="#/blog/article/{{ article.article_name }}">{{ article.article_name }}</a>
                            </td>
                        </tr>

                    </table>
                </div>
                <!-- /Content Bars-->

            </div>
            <div class="col-md-1 projectsScrollerTop">
                <a class="glyphicon glyphicon-chevron-down scrollButton" ng-click="scroll2Anchor('footer')"></a>
            </div>
            <div class="col-md-1 projectsScrollerBottom">
                <a class="glyphicon glyphicon-chevron-up scrollButton" ng-click="scroll2Anchor('navbar')"></a>
            </div>
        </div>

    </div>

</main>

{% endverbatim %}