{% verbatim %}
<div class="row">
    <div class="row">
        <div style="width: 4%; float: left;">
            <ul class="nav nav-pills nav-stacked navbar-default">
                <li><a>Dummy</a></li>
            </ul>
        </div>
    </div>
    <main id="projects" class="projects introcontent pull-left" style="width: 100%">
        <div class="panel summary" style="margin-left: 0; margin-bottom: 0">
            <div class="row" style="position: relative;">
                <div class="col-md-11 talksWrapper">

                    <!-- Content Bars-->
                    <div class="row">
                        <div class="talkBars">
                            <project-summary ng-repeat="project in projects_list" project="project"></project-summary>
                        </div>
                    </div>
                    <!-- /Content Bars-->

                </div>
                <div class="col-md-1 projectsScrollerTop">
                    <div class="glyphicon glyphicon-chevron-up scrollButton"></div>
                </div>
                <div class="col-md-1 projectsScrollerBottom">
                    <div class="glyphicon glyphicon-chevron-down scrollButton"></div>
                </div>
            </div>

        </div>

    </main>
</div>
{% endverbatim %}