{% load staticfiles %}
<div whatis class="row">
    <div class="col-md-12 whatis pull-right" style="width:100%;">
        <div class="parallax">
<!-------------- MARKET DEMAND -------------->
            <div id="marketdemand" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="row" style="margin-top: 20%">
                        <div class="col-md-8"></div>
                        <div class="col-md-3"><span class="whatisheader text">Market demands!</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4 text">
                            <br>
                            <p>Demand for expertise in Automation is high. It's going to be only higher over time. </p>
                        </div>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">
                    <div class="title"></div>
                </div>
                <div class="parallax__layer parallax__layer--back">
                    <div class="title"></div>
                </div>
            </div>
            <div id="marketdemand-midtext" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-9 text">
                            <p>Here is why:</p>
                            <ol>
                                <li>350 open automation positions in Russia and Ukraine according to <a
                                        href="http://hh.ru">hh.ru</a></li>
                                <li>1000+ open automation positions in USA according to <a href="http://monster.com">monster.com</a>
                                </li>
                                <li>IT market specifics. Companies must ship new versions of their products to survive
                                    in highly competitive environment
                                </li>
                                <li>Old versions don't go anywhere. This gives us tens of browsers, smartphones,
                                    tablets, OS. Client applications must work and display correctly in every one of
                                    those
                                </li>
                                <li>No other way to test behaviour amount all those environments, but automate it</li>
                            </ol>
                            <br>

                            <p>Above of all that, world is already gone online. Automation is essential to keep it
                                rolling</p>
                        </div>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">
                    <div class="row" style="margin-top: 1%">
                        <div class="col-md-2"></div>
                        <div class="col-md-9">
                            <span class="whatisheader text">But why?</span>
                        </div>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--back">
                </div>
            </div>
            <div id="marketdemand-text" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="row" style="margin-top:-5%;">

                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">
                </div>
                <div class="parallax__layer parallax__layer--back">

                </div>
            </div>

<!--------------------- MARKET SUPPLY ----------------------------->
            <div id="marketsupply" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5 text">
                            <br>
                            <p>Market seriously lacks effective, quality automation. Most of the cases it does not pay off.
                                However it is often caused by customers trying not to spend many resources on automation.
                                As a consequent, automation project lacks engineers, expensive pro- leaders. This leads to wrong targeting,
                                lack of focus on Return Of Investment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">

                </div>
                <div class="parallax__layer parallax__layer--back">
                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-4"><span class="whatisheader text">Current market supply</span></div>
                    </div>
                </div>
            </div>
            <div id="marketsupply-midtext" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="row" style="margin-top: 1%">
                        <div class="col-md-2"></div>
                        <div class="col-md-9">
                            <span class="whatisheader text">But why?</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-9 text">
                            <p>
                                <ol>
                                    <li>Bunch of scripts, created by manual QA using appropriate tools is often mistaken for QA Automation.
                                        Thats not Quality Assurance Automation - its Testing Automation. It's important not to confuse
                                        these tow things.</li>
                                    <li>
                                        Testing Automation only increases QA speed. That may pay off only in huge
                                        QA departments: the same job is done by fewer QAs now. Its not free, so to pay off through
                                        QA staff reduction, you should fire a lot of people.</li>
                                    <li>Quality of testing cannot be increased using tools, because Quality of testing is hardly measurable. I don't know about valid KPI for
                                        QA department.</li>
                                    <li>Thus expenses on automation pay off in very specific conditions. It doesn't affect
                                        end product and business doesn't see profit from this Automation.</li>
                                </ol>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">

                </div>
                <div class="parallax__layer parallax__layer--back">
                    <div class="title"></div>
                </div>
            </div>

<!---------------------- EFFECTIVE AUTOMATION PART ----------------->
            <div id="effectiveautomation" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="row" style="margin-top: 3%">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <span class="whatisheader text">Effective Quality Control Automation</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-5 text">
                            <p>
                                <ol>
                                    <li>Effective Automation is an essential part of software development process.</li>
                                    <li>Automation can be profitable, when it's used in every team in the project on each step of development process. Everyone is customer for Automation and should be interested in its effectiveness.</li>
                                    <li>All roles in the team spend time on Automation - managers, QA, developers and etc. </li>
                                    <li>Automation cannot exist in isolation - its continious integration and interaction with every product team member. </li>

                                </ol>

                            </p>
                        </div>
                    </div>

                </div>
                <div class="parallax__layer parallax__layer--base">
                    <div class="row title" style="width: 100%; text-align: left">
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--back">
                    <div class="title"></div>
                </div>
            </div>
            <div id="definitions" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="row" style="margin-top: 1%">
                        <div class="col-md-2"></div>
                        <div class="col-md-9">
                            <span class="whatisheader text pull-left">Targeting</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5%">
                        <div class="col-md-2"></div>
                        <div class="col-md-9 text">
                            <p>
                                <p>
                                    <p><span class="whatisheader">Goal of Automation</span> increasing speed, manageability
                                        and predictability of development.
                                        Increasing quality and speed of testing is not major automation task.
                                        We get all those if we got automation build right, but I focus differently.
                                        I work on increasing productivity and speed of all teams and all stages of software development:
                                        from planning to releasing.</p><Br>
                                    <p><span class="whatisheader">Value of Automation for business</span> means shipping products of
                                        high quality in estimate. You will not necessarily ship product faster with than without automation.
                                        The idea is to have product of expected quality in predictable time span.</p><br>
                                </p>
                                If having indestructible quality standard is not important for you or if you can afford to violate your estimate, then Automation is not for you. You will not see ROI.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">
                </div>
                <div class="parallax__layer parallax__layer--back">

                </div>
            </div>

<!------------------------- WHAT IT TAKES TO BUILD ---------------------->
            <div id="whatittakes2build" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="row" style="margin-top: 3%">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <span class="whatisheader text">What it takes to build effective Automation</span>
                        </div>
                    </div>
                    <div class="row " style="margin-top: 3%">
                        <div class="col-md-5"></div>
                        <div class="col-md-7 text">
                            <p>
                                <ol>
                                    <li>Team of professionals.</li>
                                    <li>Managerial will to biuld it</li>
                                    <li>Distributed version control system</li>
                                    <li>Local automation environment</li>
                                    <li>Continuous Integration environment. Automation goes here. Test status on CI is used as a reference</li>
                                    <li>Feature-branches for local automation runs</li>
                                    <li>Developers participate in Automation support</li>
                                    <li>Stable and high quality test coverage</li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">
                </div>
                <div class="parallax__layer parallax__layer--back">
                    <div class="title"></div>
                </div>
                <div class="parallax__layer parallax__layer--deep">
                    <div class="title"></div>
                </div>
            </div>
            <div id="whatittakes2build-text" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="row" style="margin-top: 3%">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <span class="whatisheader text hidden-xs">Zen of Automation</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7 text">
                            <p>
                                <ol><span class="whatisheader text visible-xs">Zen of Automation</span>
                                    <li>Automation - is a huge infrastructural project</li>
                                    <li>Infrastructural project has a long term pay off.</li>
                                    <li>Automation cannot pay off being in isolation</li>
                                    <li>Everybody in the team is a Customer for Automation project</li>
                                    <li>Continuous Integration environment is essential</li>
                                    <li>QA Automation is run by developers on their local feature-branches before QA even look at it</li>
                                    <li>Priorities for Automation run:
                                        <span style="font-weight: bold; font-style: italic; text-decoration: underline">stability > </span>
                                        <span style="font-weight: bold; font-style: italic;">robustness > </span>
                                        <span style="font-style: italic;">speed > </span>
                                        <span style="font-weight: lighter">coverage</span></li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">
                    <div class="title"></div>
                </div>
                <div class="parallax__layer parallax__layer--back">
                </div>
                <div class="parallax__layer parallax__layer--deep">
                    <div class="title"></div>
                </div>
            </div>
        </div>
    </div>
</div>

