{% load staticfiles %}
<html lang="en-us" ng-app="ngavrish">
    <head>
        <title>Automation with ROI step by step</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- load bootstrap and fontawesome via CDN-->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{% static 'app/css/app.css' %}" />
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

        <!-- load angular via CDN -->
        <script src="http://code.angularjs.org/1.4.6/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.4.6/angular-route.min.js"></script>
        <script src="http://code.angularjs.org/1.4.6/angular-resource.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.js"></script>
        <script src="http://durated.github.io/angular-scroll/0.6.1/angular-scroll.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
        <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{% static 'app/js/app.js' %}"></script>
        <script src="{% static 'app/js/routes.js' %}"></script>
        <script src="{% static 'app/js/services.js' %}"></script>
        <script src="{% static 'app/js/controllers.js' %}"></script>
        <script src="{% static 'app/js/directives.js' %}"></script>

    </head>
    <body>

    <!-- ============== FACEBOOK JavaScript SDK =========== -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5&appId=126642900731796";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- ============== /FACEBOOK JavaScript SDK =========== -->

    {% include "app/html_elements/header_nav.html" %}

        <div class="row container" style="position: fixed; overflow-y: scroll; -webkit-overflow-scrolling: touch;
            maring-bottom: 2.5em; padding: 0px;">
            <div ng-view>
            </div>
            {% include "app/html_elements/footer.html" %}
        </div>


    </body>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-65277586-1', 'auto');
          ga('send', 'pageview');

    </script>
</html>