body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

#navbar {
    width: 100%;
}

.footer {
    position: relative;
    bottom: 0;
    z-index: 999;
    padding: 0;
    width: 100%;
    background-color: cornflowerblue;
    opacity: 0.8;
    color: #fff;
    margin-right: 15px;
    margin-left: 15px;
}

.footer a {
    color: #f5f5f5;
}

.nolink {
    cursor: default;
    text-decoration: none;
}
.nolink:hover {
    cursor: default;
    text-decoration: none;
}

.white, .white a {
  color: #fff;
}

.input-group {
    margin-top: 20px;
}

.top-navigation > li:not(.active) > a:not(.nolink):hover {
    text-decoration: underline;
}

.lang a {
    cursor: pointer;
}
.lang_active {
    background-color: #e7e7e7;
}
.container {
    background-image: url("../img/tuleniuisland.jpg");
    /*background-image: url("../img/smallboatinthehighlandlake.jpg");*/
    background-size: 200%;
    background-position: 0% 25%;
    height: 100vh;
    min-height: 100vh;
    width:100%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.container > div[ng-view] {
    display: block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.introcontent {
    position: relative;
    left: 20%;
    top: 27%;
    width: 70%;
    overflow-x: hidden;
    opacity: 1;
}

#products.introcontent {
    width: 100%;
    margin-left: -2%;
}

.introcontent > h1 {
    font-size: 300%;
    font-family: 'Georgia', 'Arial',serif;
    color: black;
    margin: 0;
    margin-left: 5%;
    max-width: 100%;
}

.introcontent > div.shownamehumor > .showname {
    color: black;
    font-family: 'Georgia', 'Arial',serif;
    font-size: 140%;
}

.introcontent > div.shownamehumor > .humor {
    font-size: 100%;
    color: black;
    font-family: 'Georgia', 'Arial',serif;
}

.introcontent .wrapper {
    height: 50%;
}

.introcontent .prev {
    text-align: center;
    cursor: pointer;
    float: left;
    margin-top: 1%;
    margin-left: 3%;
    height: 30%;
    background-color: #f5f5f5;
    width: 5%;
    padding-top: 10%;
    opacity: 1;
}

.introcontent .next {
    text-align: center;
    cursor: pointer;
    float: left;
    background-color: #f5f5f5;
    margin-top: 1%;
    margin-right: 3%;
    height: 30%;
    width: 5%;
    padding-top: 10%;
    opacity: 1;
}

.summary {
    float: left;
    opacity: 0.9;
    overflow-x: hidden;
    width: 100%;
}

.row {
    overflow-x: hidden;
}
div.projects > div.summary {
    width: 90%;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.projects {
    -webkit-overflow-scrolling: touch;
}
.projects .talksWrapper {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#products .talksWrapper {
    height: 90%;
}
.row {
    overflow: hidden;
}

.projects .talksWrapper .row.menu {
    position: fixed;
    width: 90%;
}

.projects .row.menu .showtype {
    font-size: 20pt;
    color: grey;
    overflow: hidden;
    margin-top: 20px;
}

.projects .row.menu .showtype > span {
    cursor: pointer;
}

.projects .row.menu .showtype:hover {
    color: black;
}

.projects .row.menu .active {
    color: black;
}

.projects .row.menu span {
    margin-left: 50%;
    margin-right: 50%;
}

.projects .talksWrapper .row span.active {
    color: black;
}

.projects .talksWrapper .row.menu {
    padding-top: 1%;
}

#articles {
    margin-top: 50px;
}

.talksWrapper .talkBars {
    margin-top: 2%;
    margin-left: 1%;
    display: block;
    overflow-x: hidden;
}

.talksWrapper .category_name {

}

.talksWrapper .talkBars .more {
    width: 50%;
    min-height: 40px;
}

#talk {
    margin-top: 50px;
    -webkit-overflow-scrolling: touch;
}

#talk .backToTalks {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 12pt;
    width: 25%;
    min-width: 120px;
}

#talk div {
    font-size: 12pt;
}

#talk_content {
    padding-left: 20px;
}

#talk_conclusion {
    margin-bottom: 50px;
}
.projects.introcontent {
    left: 2.5%;
    top: 10%;
    width: 95%;
}

.projects.introcontent > h1 {
    margin-left: 0;
    margin-bottom: 2%;
}

.projects .projectsScrollerTop {
    margin-bottom: 0;
    position: absolute;
    top: 50px;
    right: 0;
    align-content: center;
}

.projects .projectsScrollerBottom {
    margin-bottom: 0;
    position: absolute;
    bottom: 50px;
    right: 0;
    align-content: center;
}

.projects .scrollButton {
    display: block;
    margin-left: 50%;
    cursor: pointer;
}

.talkLinks {
    display: none;
}

#SkypeButton_Call_shirvag_1 {
    float: left;
    margin: 0;
}

.projectDescrArrow {
    margin-right: 10px;
    margin-left: 0;
    padding-top: 13px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    border-style:ridge;
    border-color:#000;
    line-height:2px;
    text-align:center;
    border-width: 1px;
    background:#fff;
    float: right;
}

.projectContent {
    min-height: 50px;
}

.product-preview {
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: block;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: -2%;
    margin-bottom: 1%;
    border: 1px solid gainsboro;
}

.product-preview:hover {
    text-decoration: none;
    color: black;
    border: 1px solid cornflowerblue;
}

div[whatis] > div {
    margin: 0;
    padding: 0;
}

div[whatis] ul {
    width: 100%;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
}

div[whatis] ul > li > a {
    cursor: pointer;
    margin-left: 5px;
}

div[whatis] > div.whatis {
    margin-top: 3%;
    height: auto;
}

.whatisheader {
    margin-right: 10px;
    float: right;
    font-family: Arvo, Arial;
    font-size: 250%;
    font-weight: 700;
    text-decoration: none;
}

/* Parallax base styles
          --------------------------------------------- */

          .parallax {
            height: 500px; /* fallback for older browsers */
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-perspective: 300px;
            perspective: 300px;
            background: rgb(248, 248, 248);
            opacity: 0.8;
          }

          .parallax .text {
              background-color: rgb(248, 248, 248);
              padding-left: 50px;
          }

          .parallax__group {
            position: relative;
            height: 500px; /* fallback for older browsers */
            height: 70vh;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
          }

          .parallax__layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          .parallax__layer--fore {
            -webkit-transform: translateZ(90px) scale(.7);
            transform: translateZ(90px) scale(.7);
            z-index: 1;
          }

          .parallax__layer--base {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            z-index: 4;
          }

          .parallax__layer--back {
            -webkit-transform: translateZ(-300px) scale(2);
            transform: translateZ(-300px) scale(2);
            z-index: 3;
          }

          .parallax__layer--deep {
            -webkit-transform: translateZ(-600px) scale(3);
            transform: translateZ(-600px) scale(3);
            z-index: 2;
          }


          /* Debugger styles - used to show the effect
          --------------------------------------------- */

          .debug {
            position: fixed;
            top: 0;
            left: .5em;
            z-index: 999;
            background: rgba(0,0,0,.85);
            color: #fff;
            padding: .5em;
            border-radius: 0 0 5px 5px;
          }
          .debug-on .parallax__group {
            -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
            transform: translate3d(700px, 0, -800px) rotateY(30deg);
         }
          .debug-on .parallax__layer {
            box-shadow: 0 0 0 2px #000;
            opacity: 0.9;
          }
          .parallax__group {
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
          }


          html, body, input, select, textarea
            {
                font-size: 1.05em !important;
            }
          body, html {
            overflow: hidden;
          }

          body {
            font: 100% / 1.5;
          }

          * {
            margin:0;
            padding:0;
          }

           /* centre the content in the parallax layers */
          .title {
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }

          .logotitle {
            font-family: Arvo;
            color: brown;
            font-size: 400%;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }



          /* style the groups
          --------------------------------------------- */

/* Marketdemand part */
          #marketdemand {
            background: rgb(248, 248, 248) url("../img/market_demand.png") no-repeat;
            background-size: contain;
            z-index: 9; /* slide over group 2 */
            width: 100%;
          }
          #marketdemand-midtext {
            background-size: contain;
            z-index: 7; /* slide over group 2 */
          }
          #marketdemand-midtext .parallax__layer--base {

            background-size: contain;
          }
          #marketdemand-midtext .parallax__layer--back {
            background: rgb(248, 248, 248) url("../img/lighthouse.JPG") no-repeat;
            background-size: contain;
          }

          #marketdemand-text {
            background-size: contain;
            z-index: 7; /* slide over group 2 */
          }
          #marketdemand-text .parallax__layer--base {

            background-size: contain;
          }
          #marketdemand-text .parallax__layer--back {
            background-size: contain;
          }
          #marketdemand-text .parallax__layer--fore {

          }


/* Market supply part */
          #marketsupply {
            z-index: 7; /* slide under groups 1 and 3 */
          }
          #marketsupply .parallax__layer--back {
              background: rgb(248, 248, 248) url("../img/supplies.png") no-repeat;
              background-size: contain;
          }

          #marketsupply-midtext {
            background-size: contain;
            z-index: 8; /* slide over group 2 */
            height: 100vh;
          }
          #marketsupply-midtext .parallax__layer--base {
            background: rgb(248, 248, 248) url("../img/badsupply.JPG") no-repeat;
            background-size: contain;
          }
          #marketsupply-midtext .parallax__layer--back {

          }

          #marketsupply-text {
            background-size: contain;
            z-index: 7; /* slide over group 2 */
          }
          #marketsupply-text .parallax__layer--base {
              background-size: contain;
          }


/* EFFECTIVE AUTOMATION PART */
          #effectiveautomation {
            background-size: contain;
            opacity: 1;
            z-index: 8; /* slide over group 2 and 4*/
          }
          #effectiveautomation .parallax__layer--base {
              background: rgb(248, 248, 248) url("../img/effectiveautomation.png") no-repeat;
              background-size: contain;
          }

          #effectiveautomation .parallax__layer--back {

          }
          #effectiveautomation .parallax__layer--fore {
          }


          #effectiveautomation-midtext {
            background-size: contain;
            z-index: 7;  /*slide over group 2*/
          }

          #effectiveautomation-midtext .parallax__layer--base {
          }
          #effectiveautomation-midtext .parallax__layer--back {
          }
          #effectiveautomation-midtext .parallax__layer--fore {
          }
          #effectiveautomation-text {
            background-size: contain;
            z-index: 8;  /*slide over group 2*/
          }
          #effectiveautomation-text .parallax__layer--base {
          }
          #effectiveautomation-text .parallax__layer--back {
          }
          #effectiveautomation-text .parallax__layer--fore {
          }

          #definitions {
              z-index: 2;
              height: 100vh;
          }
/* what it takes to build part */
          #whatittakes2build {
            z-index: 9;
          }
          #whatittakes2build .parallax__layer--base {
          }
          #whatittakes2build .parallax__layer--back {
            /*background: url("../img/zen.jpg") no-repeat;*/
            /*background-size: 100%;*/
          }

          #whatittakes2build .parallax__layer--deep {
              /*background: url("../img/zen.jpg") no-repeat;*/
              /*background-size: 100%;*/
          }
          #whatittakes2build-text {
            background-size: contain;
            z-index: 4;
            height: 50vh;
          }
          #whatittakes2build-text .parallax__layer--base {
              background: url("../img/zenofautomation_logo.png") no-repeat;
              background-size: contain;
          }
          #whatittakes2build-text .parallax__layer--back {
          }
          #whatittakes2build-text .parallax__layer--fore .text {
              background-color: #ffffff;
          }
          #whatittakes2build-text .parallax__layer--deep {
              background: url("../img/zen.jpg") no-repeat;
              background-size: 100%;
          }




          /* misc
          --------------------------------------------- */
          .demo__info {
            position: absolute;
            z-index:100;
            bottom: 1vh;
            top: auto;
            font-size:80%;
            text-align:center;
            width: 100%;
          }


.buildProjectContent {
    font-size: medium;
}

#new_project_form, #projectcreated_success, .update_project {
    display: none;
}